<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Layout Adaptável e Responsivo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <p id="medidas">Largura:<span id="largura"></span> Altura: <span id="altura" ></span> </p>
            <p class="horizontal">Modo paisagem</p>
            <p class="vertical">Modo retrato</p>
            <script src="js/medidas.js"></script>
        </header>
    </body>
</html>
