<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Layout Adaptável e Responsivo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <p id="medidas">Largura:<span id="largura"></span> Altura: <span id="altura" ></span> </p>
            <p class="horizontal">Modo paisagem</p>
            <p class="vertical">Modo retrato</p>
            <script src="js/medidas.js"></script>
        </header>
        <section>
            <h1>Eleições 2014</h1>
            <h2>Situação</h2>
            <figure>
                <img src="http://goo.gl/7GImeQ" alt="Dilma"/>
                <figcaption>Dilma</figcaption>
            </figure>
            
            <figure>
                <img src="http://3.bp.blogspot.com/--rBtA3JujF0/U9E0ydVAH_I/AAAAAAAA-y8/qnPh0pE7hVY/s1600/dilma_1920x1080.jpg"
                     alt="Qualquer coisa"/>
                <figcaption>Mais uma</figcaption>
            </figure>
            
            <figure>
                <img src="http://itabunaurgente.com/media/2014/06/trteettr.jpg" alt="Esta bom já"/>
                <figcaption>A ultima</figcaption>
            </figure>
            
            <h2 class="final">Oposição</h2>
            <figure>
                <img src="http://img.r7.com/images/2014/06/03/613jq7xvl2_356rs99gmm_file.jpg?dimensions=460x305"
                     alt="Aécio"/>
                <figcaption>Aécio</figcaption>
            </figure>
            
            <figure>
                <img src="http://2.bp.blogspot.com/-hTSQvZZRxLw/VA4AlG52g8I/AAAAAAAAHPk/J1N9wCYJW0w/s1600/aecio-neves-george-gianni-psdb-3.jpg" alt="Qualquer coisa"/>
                <figcaption>Mais um</figcaption>
            </figure>
            
            <figure>
                <img src="http://novobloglimpinhoecheiroso.files.wordpress.com/2014/02/aecio_chapado01.jpg"
                     alt="Esta bom já"/>
                <figcaption>O ultimo</figcaption>
            </figure>
            <br class="final">
        </section>
    </body>
</html>
